<div id="menubar" class="menubar-inverse">
	<div class="menubar-scroll-panel">
		<!-- BEGIN MAIN MENU -->
		<ul id="main-menu" class="gui-controls">
			<!-- BEGIN ITEM TREE -->
			{% verbatim %}
            <script type="text/x-template" id="item-tree-template">
                <li :class="{'gui-folder': isFolder, 'active': isActive}" @click="setActive">
                    <a :class="{'active': isActive}" @contextmenu.prevent="openMenu" onclick="dataField.currentView='{{model.item}}'">
                        <div class="gui-icon" :class="model.name | lowercase" v-if="model.icon" v-el:item><span class="fa fa-{{model.icon}}"></span></div>
                        <span class="title">{{ model.name }}</span>

                        <!--<ul id="item-context-menu-off" tabindex="-1" v-if="viewMenu" @mouseleave="closeMenu" :style="{top: top, left: left}" v-el:right>
                            <li v-if="isFolder" @click="addFolder">New Folder</li>
                            <li v-if="isFolder" @click="addItem">New Item</li>
                            <li>Rename</li>
                            <li>Copy</li>
                            <li>Cut</li>
                            <li>Paste</li>
                            <li>Delete</li>
                        </ul>-->
                    </a>

                    <ul v-show="open" v-if="isFolder">
                        <item-tree v-for="model in model.children" :model="model"></item-tree>
                    </ul>
                </li>
            </script>

            <item-tree :model="item" v-for="item in treeData"></item-tree>
            {% endverbatim %}
			<!-- END ITEM TREE -->
		</ul><!--end .main-menu -->
		<!-- END MAIN MENU -->

		<div class="menubar-foot-panel">
			<small class="no-linebreak hidden-folded">
				<span class="opacity-75">Copyright &copy; 2016</span> <strong>Redbuzz Mediatama</strong>
			</small>
		</div>
	</div><!--end .menubar-scroll-panel-->
</div><!--end #menubar-->