<script type="text/x-template" id="asset-data">
    <div class="section-body contain-lg">
        <!-- BEGIN INTRO -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-primary">Asset Inventory Management</h1>
            </div><!--end .col -->
            <div class="col-lg-8">
                <article class="margin-bottom-xxl">
                    <p class="lead">
                        When you are developing an Admin Template, it's always handy to have more than the standard toolset the browser gives you.
                        That's why Material Admin provides advanced components styled to fit well inside the Material Design philosophy.
                    </p>
                </article>
            </div><!--end .col -->
        </div><!--end .row -->
        <!-- END INTRO -->

        <!-- BEGIN FILE UPLOAD -->
        <div class="row">
            <div class="col-lg-12">
                <h4>File upload</h4>
            </div><!--end .col -->
            <div class="col-lg-3 col-md-4">
                <article class="margin-bottom-xxl">
                    <p>
                        This file uploader (Dropzone) can handle multiple files, gives previews of images, has drag and drop support and is easy to implement.
                    </p>
                </article>
            </div><!--end .col -->
            <div class="col-lg-offset-1 col-md-8">
                <div class="card">
                    <div class="card-head style-primary">
                        <header>Drag and drop uploader</header>
                    </div>
                    <div class="card-body no-padding">
                        <form action="../../html/forms/advanced.html" class="dropzone" id="my-awesome-dropzone">
                            <div class="dz-message">
                                <h3>Drop files here or click to upload.</h3>
                                <em>(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</em>
                            </div>
                        </form>
                    </div><!--end .card-body -->
                </div><!--end .card -->
                <em class="text-caption">Dropzone file upload</em>
            </div><!--end .col -->
        </div><!--end .row -->
        <!-- END FILE UPLOAD -->
    </div><!--end .section-body -->
</script>